@media screen and (max-width: 1280px)
{
    h1 {
        font-size: 30; 
    }
    p.center0 {
    font-size: 20;
    }
}

@media screen and (max-width: 600px)
{
    h1 {
        font-size: 20; 
    }
    p.center0 {
    font-size: 20;
    }
}